@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
  background-color: #282828;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

.formgroup label {
  font-weight: bold;
}
#cart {
  width: 100%;
  height: 400px;
  background: tan;
  overflow: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.container2 {
  top: 500px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.form-control:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 2 0px;
  margin-left: 155px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
}

#cartModal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 10000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.myFrame {
  position: relative;
  justify-self: center;
  text-align: center;
  height: 500px;
  width: 750px;
  margin: auto;
}

#navbarMain {
  display: flex; 
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  animation: navbaranim 2.5s ease;
  animation-delay: 1.5s;
  width: 100%; 
  list-style: none; 
  align-items: center; 
  padding-top: 5px;
}

.menu{
  display: flex; 
  flex-direction: row-reverse;
  column-gap: 15px;
  padding-right: 15px;
  align-items: center;
}

.burger-menu{
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
}

.burger-menu input,
.burger-menu::before,
.burger-menu::after{
  content: "";
  width: 30px;
  height: 5px;
  background-color: whitesmoke;
  border-radius: 999px;
  transition: all 0.4s ease-in-out;
}

.burger-menu input{
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.burger-menu input:checked{
  opacity: 0;
}

.burger-menu:has(input:checked)::before{
  transform: rotate(-45deg) translate(-5.5px, 12px);
  z-index: 2;
}

.burger-menu:has(input:checked)::after{
  transform: rotate(45deg) translate(-3.5px, -10px);
  z-index: 2;
}

@media (max-width: 768px) {
  #navbarMain{
    padding-top: 10px;
  }
  .menu {
    display: none;
  }
  .burger-menu input[type="checkbox"]:checked + .menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  .burger-menu{
    opacity: 1;
    padding-right: 10px;
  }
  .burger-menu-bg{
    transition: all 0.7s;
    opacity: 1;
    top: 0;
    left: -100%;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    background: #282828;
    position: fixed;
  }
  .burger-menu input[type="checkbox"]:checked + .burger-menu-bg{
    left: 0;
  }
}

.line {
  width: 30px;
  height: 2.5px;
  background-color: #fff;
  margin: 7px 0;
  transition: 0.4s;
}

.line:nth-child(1){
  transform: rotate(90);
  transition: 0.3s;
}

.nav__logo{
  display: flex; 
  flex-direction: row-reverse; 
  z-index: 2;
  color: whitesmoke;
  padding-left: 15px;
  /* align-items:center; */
}

.load-wrap {
  float: left;  
  width: 200px;
  height: 200px;
  margin: 0 10px 10px 0;
  border-radius: 5px;
  text-align: center;
  background-color: #282828;
}

.load .ring {
  animation: loadingRing 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.ring {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 10px;
  border: 6px dashed #ffffff;
  border-radius: 100%;
}

#loader {
  opacity: 0;
  top: 0;
  left: 0;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 999999;
  height: 100vh;
  background: #282828;
  position: fixed;
}

.headerMain {
  text-transform: capitalize;
  text-align: center;
  font-family: 'Italiana';
  color: whitesmoke!important;
  opacity: 0;
  font-size: 75px!important;
  font-weight: 500;
  animation: headeranim 2.5s ease;
  animation-delay: 1.5s;
}

@media (max-width: 768px) {
  .headerMain{
    font-size: 55px !important;
  }
}

.heading {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading h1 {
  font-size: 5rem;
  color: #fff;
}
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  opacity: 0;
  animation: carouselcaranim 2.5s ease;
  animation-delay: 1.5s;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
  opacity: 0;
  animation: buttonanim 2.5s ease;
  animation-delay: 1.5s;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
  opacity: 0;
  animation: headeranim 2.5s ease;
  animation-delay: 1.5s;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 400px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

.slide:first-child {
  background: url(images/car1.jpg) no-repeat center top/cover;
}
.slide:nth-child(2) {
  background: url(images/car2.jpg) no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url(images/car4.jpg) no-repeat center top/cover;
}

#cars{
  display: flex;
  width: 100%;
  padding: 20px 0px;
  justify-content: center;
}

.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  gap: 10px;
}

#card{
  background-color: whitesmoke;
}

.cars-div{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  padding: 20px 100px; 
  column-gap:20px; 
  row-gap:20px
}

.card-button{
  display: flex;  
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

#Video{
  width: 100%; 
  display: flex; 
  align-items: center; 
  padding: 0px 35px; 
  flex-direction: column;
  row-gap: 25px;
}

@media (max-width: 1300px) {
  .cars-div {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    padding: 20px 20px;
    column-gap:10px; 
    row-gap:10px;
    justify-content: center;
  }
  #Video{
    padding: 0px 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
  } 
}

@media (max-width: 768px) {
  .cars-div {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 30px; 
    row-gap:5px;  
  } 
  #Video{
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap; 
    width: 100%;
  } 
  video{
    height: 100%;
    width: 100%;
    padding: 0px 20px;
  }
}

@media (max-width: 400px) {
  .cars-div {
    display: grid; 
    grid-template-columns: 90%; 
    padding: 10px; 
    row-gap:5px;
  } 
  .fixed3{
    width: 295px!important;
    height: calc(295px * 0.7)!important;
  }
}

#scrollUp {
  display: block;
  padding: 8px;
  background-color: whitesmoke;
  color: rgb(153, 0, 255);
  position: fixed;
  right: 80px;
  bottom: 80px;
  text-decoration: none;
  font-size: 25px;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  transition: all 1s;
}
#scrollUp.fade {
  opacity: 0;
}

#chatbot {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  width: 260px;
  height: 300px;
  background-color: lightblue;
  padding: 5px 25px;
  left: calc(100% - 25px);
  overflow-y: auto;
  border-radius: 10px;
  transition: 0.5s;
}
#form_chatbot {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  min-height: 100%;
}
#form_chatbot input {
  align-self: flex-start;
  margin: 5px;
}

.show {
  left: calc(100% - 260px) !important;
}
.bot_answ,
.human_answ {
  line-break: loose;
  max-width: 200px;
  text-align: start;
  display: table;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.human_answ {
  background-color: #ffffff;
  color: #000000;
}
.bot_answ {
  background-color: #000000;
  color: #ffffff;
}
@keyframes headeranim {
  0% {
    opacity: 0;
    transform: translateX(-220%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes buttonanim {
  0% {
    opacity: 0;
    transform: translateX(220%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes navbaranim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes carouselcaranim {
  0% {
    opacity: 0;
    transform: translateY(220%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
